/* General Alpha Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body, html { font-size: 100%; 	padding: 0; margin: 0;}


body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #171618;
}

/* Nav Bar */
a {
    color: #000;
    text-decoration: none;
}

a:hover {
	color: #000;
}


/* Selection Boxes */
.selectionBoxes{
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    font-size: 35px;
    width: 100%;
    /* border: 15px solid#1948B4;*/
    padding-right: 3%;
    padding-left: 3%;
    margin: 1.5px; 
    display: table;
  }

.dormRoom{
    width: 30%;
    height: 300px;
    background-image: url(images/Stine1.jpeg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    border: 3px solid #1948B4;
    float:left;  
    margin: 1%;    
}
.library{
    width: 30%;
    height: 300px;
    background-image: url(images/Library1.jpeg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    border: 3px solid #1948B4;
    float:left;
    margin: 1%;    
}
.innovationLab{
    width: 30%;
    height: 300px;
    background-image: url("https://media2.giphy.com/media/3o7TKNgQqrynD4umD6/giphy.gif");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    border: 3px solid #1948B4;
    float:left;
    margin: 1%;  
}

  .dormRoom:hover,.innovationLab:hover,.library:hover,.magnum:hover,.guitar:hover,.other:hover {
    border: 7px solid #FE6301;
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0);
    
}

footer{
    text-align: end;
}

/* Next Portion of the CSS will be Focused on 3D Models*/ 
.guitar{
    margin-left:0px;
    padding-left:0px;
    display: inline-block;
    border: 3px solid #1948B4;
}
.guitar img{
    float:left;
    width:15%;
    padding-right: 5px;
}

.magnum{
    margin-left:0px;
    padding-left:0px;
    display: inline-block;
    border: 3px solid #1948B4;
} 
.magnum img{
    float:left;
    width:15%;
    padding-right: 5px;
}

.other{
    margin-left:0px;
    padding-left:0px;
    display: inline-block;
    border: 3px solid #1948B4;
}

.other img{
    float:left;
    width:15%;
    padding-right: 5px;
}

/* The Following Portion will Focus on the About the Project Page*/
.group{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}